@model  ProjectTest_FEv2.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClockIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClockIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClockOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClockOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>