@model IEnumerable<ProjectTest_FEv2.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Departments";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @{
                        if (item.ClockIn.HasValue)
                        {
                            @Html.DisplayFor(modelItem => item.ClockIn)
                        }
                        else
                        {
                            <a asp-action="ClockIn" asp-route-id="@item.UserID">
                                Clock In
                            </a>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.ClockOut.HasValue || !item.ClockIn.HasValue)
                        {
                            @Html.DisplayFor(modelItem => item.ClockOut)
                        }
                        else
                        {
                            <a asp-action="ClockOut" asp-route-id="@item.UserID">
                                Clock Out
                            </a>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>